section {
    border: 2px solid black;
    margin: 5px;
    padding: 3px;
    width: 400px;
}

.section-header {
    margin: 5px;
    font-weight: bold;
    font-size: large;
    grid-column-start: 1;
    grid-column-end: 3;
}

#inventory {
    display: grid;
    grid-template-columns: 30px auto;
    gap: 3px;
}

#inventory>.section-header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.inventory-grid-item {
    background-color: lightgray;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    font-weight: bold;
}

.equipped-checkmark {
    text-align: center;
}

.item {
    padding: 0 5px;
}

#player-resources {
    display: grid;
    grid-template-columns: 30px auto;
    gap: 3px;
}

#player-stats {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 3px;
}

.align-right {
    text-align: end;
}