* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

#loading-screen {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 15px;
  overflow-x: hidden;
}

.btn-open-screen {
  width: 3rem;
  height: 3rem;
  position: fixed;
  background-color: white;
  border: 2px solid black;
  border-left: none;
  border-radius: 0 1rem 1rem 0;
  top: 0.5rem;
  transform: translateX(-0.25rem);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.144);
}
#btn-open-screen-voyage {
  top: 4rem;
}

.full-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#character-sheet-screen {
  background-color: rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: left;
  align-items: start;
}

#character-sheet {
  background-color: white;
  padding: 10px;
  width: 20rem;
  max-width: 400px;
  border: 2px solid black;
  margin-left: 3rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

section {
  border: 2px solid black;
  margin: 5px;
  padding: 3px;
}

.section-header {
  margin: 5px;
  font-weight: bold;
  font-size: large;
  grid-column-start: 1;
  grid-column-end: 3;
}

#inventory {
  display: grid;
  grid-template-columns: 30px auto;
  gap: 3px;
}

#inventory > .section-header {
  grid-column-start: 1;
  grid-column-end: 3;
}

.inventory-grid-item {
  background-color: lightgray;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
  font-weight: bold;
}

.equipped-check-mark {
  text-align: center;
}

.item {
  padding: 0 5px;
}

#player-stats {
  display: grid;
  grid-template-columns: 2.5rem auto;
  gap: 3px;
}

#player-resources {
  display: grid;
  grid-template-columns: 30px auto;
  gap: 3px;
}

.align-right {
  text-align: end;
}

.align-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

#stats-adjustment-panel > div {
  display: grid;
  grid-template-columns: 40px 30px 30px 30px;
  align-items: center;
}

/* Cards */
#deck-and-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  margin-top: 20px;
}
#deck {
  width: 150px;
  height: 250px;
  display: block;
}
#btn-deck {
  width: 150px;
  height: 250px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.753);
  border-radius: 10px;
  border-right-color: rgb(127, 127, 112);
  border-bottom-color: rgb(91, 91, 87);
  border-style: solid;
  border-top: none;
  border-left: none;
}
.card {
  /* aspect-ratio: 256 / 427; */
  width: 150px;
  height: 250px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.753);
  border-radius: 10px;
  position: absolute;
  /* border-color: beige; */
  border-right-color: rgb(127, 127, 112);
  border-bottom-color: rgb(91, 91, 87);
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-left: none;
}
#cards-drawn {
  /* display: flex; */
  /* flex-direction: row; */
  /* gap: 5px; */
  flex-grow: 1;
  position: relative;
  height: 250px;
}

/* Overlay Item Details */
#item-details-view-background {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#item-details-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.788);
  padding: 15px;
  color: rgb(255, 251, 243);
  border: 2px solid rgba(255, 255, 255, 0.767);
}
#item-details-view-name {
  color: bisque;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.33rem;
}

/*********  Main View *************/
#main-screen {
  width: 100%;
  display: flex;
  justify-content: center;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem;
  width: 100%;
}

#dungeon-master-text {
  max-width: 60rem;
  min-height: 12rem;
  border: 2px solid black;
  background-color: rgb(100, 100, 100);
  padding: 10px;
  color: rgb(243, 243, 243);
  font-size: 1.25rem;
  margin-left: 3rem;
  margin-right: 0.5rem;
}

#controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
